---
layout: bootcamp
root: .
venue: University of British Columbia
address: Earth, Ocean and Atmospheric Sciences ESB-5108
country: Canada
humandate: September 26-27, 2013
humantime: 9:00 - 4:00 Thu, 9:00 - 4:30 Fri
startdate: 2013-09-26
enddate: 2013-08-27
latlng: 49.261111,-123.253056
registration: restricted
host: Susan Allen
contact: sallen@eos.ubc.ca
instructor: ["Julia Gustavsen", "Doug Latornell"]
helper: ["Caroline Chenard", "Jessica Spurgin", "Kang Wang"]
---
{% include bootcamps/host.html %}
{% include bootcamps/instructors.html %}
{% include bootcamps/helpers.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
<p>
  <strong>Requirements:</strong>
   Participants must bring a laptop with a few specific software packages installed.
  Please follow the <a href="#setup">setup instructions</a> below.
</p>
<p>
  <strong>Content:</strong>
  Please see the <a href="#topics">Topics and Schedule</a> section below.
</p>
{% include bootcamps/contact.html %}
<p>
  <strong>Etherpad:</strong>
  <a href="https://etherpad.mozilla.org/7B5jDDjHHO">etherpad.mozilla.org/7B5jDDjHHO</a>
</p>

<hr>

<h2 id="setup">Setup</h2>

<div class="row-fluid">
  <div class="span12">
    <p>
      Here are the 4 key pieces of software we'll be using during the bootcamp:
    </p>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/overview-editor.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/overview-python.html %}
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <p>
      Please follow the setup instructions below (pick the appropriate operating system) to install those tools on the laptop that you will be bringing to the bootcamp.
    </p>
  </div>
</div>
<div class="row-fluid">
  <div class="span2">
    <a href="setup/windows.html">Windows</a>
  </div>
  <div class="span2">
    <a href="setup/osx.html">Mac OS/X</a>
  </div>
  <div class="span2">
    <a href="setup/linux.html">Linux</a>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <p>
      It is <em>very important</em> that you successfully complete the setup before the bootcamp so that we can start on time, and you can participate fully.
      If you have difficulty with the setup, or don't get success results from the setup check scripts, or have any questions about the setup instructions, please contact Doug at <a href="mailto:dlatornell@eos.ubc.ca">dlatornell@eos.ubc.ca</a> or in ESB-3053 and we'll get things sorted out.
    </p>
    <p>
      Also, please ensure that your laptop is able to connect to the <code>ubcsecure</code> wireless network to give you Internet access during the bootcamp.
    </p>
    <p>
      Finally, please take a moment to read the Software Carpentry Bootcamp
      <a href="http://software-carpentry.org/conduct.html">Code of Conduct</a>.
    </p>
  </div>
</div>

<hr>

<h2>Coffee and Food</h2>

<div class="row-fluid">
  <div class="span12">
    <p>
      Coffee, tea, and snacks will be provided at morning and afternoon breaks during the bootcamp.
      Lunch will not be provided, but your are welcome to bring your lunch to eat in the lounge area outside ESB-5108.
      Magma at the south end of the ground floor of ESB is one option for those who wish to buy lunch.
    </p>
  </div>
</div>

<hr>

<h2 id="topics">Topics and Schedule</h2>

<h3>Thu 26-Sep-2013</h3>
<div class="row-fluid">
  <div class="span2">
    09:00 - 09:20
  </div>
  <div class="span10">
    <a href="intro.html">Introduction</a> and <a href="bootcamp_goals.html">Overall Learning Goals</a> - Susan, Doug &amp; Julia
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    09:20 - 10:15
  </div>
  <div class="span10">
    <a href="lessons/ubc-shell/index.html">Intro to Shell</a> - Julia
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    10:15 - 10:30
  </div>
  <div class="span10">
    Break (catered)
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    10:30 - 12:00
  </div>
  <div class="span10">
    <a href="lessons/ubc-git-intro/index.html">Intro to Version Control and Git</a> - Julia
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    12:00 - 13:00
  </div>
  <div class="span10">
    Lunch
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    13:00 - 14:15
  </div>
  <div class="span10">
    <a href="lessons/ubc-python-intro/index.html">Intro to Python</a> - Doug
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    14:15 - 14:30
  </div>
  <div class="span10">
    Break (catered)
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    14:30 - 15:45
  </div>
  <div class="span10">
    <a href="lessons/ubc-python-intro/index.html">Intro to Python (cont'd)</a> - Doug
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    15:45 - 16:00
  </div>
  <div class="span10">
    Wrap-up
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    16:00
  </div>
  <div class="span10">
    EOAS Department Colloquim (for those interested - ESB 5104/5106):
    <br>
    Mike Behrenfeld, OSU, <em>Ecological underpinnings of plankton blooms</em>
  </div>
</div>


<h3>Fri 27-Sep-2013</h3>
<div class="row-fluid">
  <div class="span2">
    09:00 - 10:30
  </div>
  <div class="span10">
    <a href="lessons/ubc-data-explore/index.html">Data Exploration with Python</a> - Doug
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    10:30 - 10:45
  </div>
  <div class="span10">
    Break (catered)
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    10:45 - 12:00
  </div>
  <div class="span10">
    <a href="lessons/ubc-git-collab/index.html">Git and Github for Collaboration</a> - Julia
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    12:00 - 13:00
  </div>
  <div class="span10">
    Lunch
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    13:00 - 14:30
  </div>
  <div class="span10">
    <a href="lessons/ubc-automation/index.html">Automation</a> - Doug and Julia
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    14:30 - 14:45
  </div>
  <div class="span10">
    Break (catered)
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
      14:45 - 16:15
  </div>
  <div class="span10">
    <a href="lessons/ubc-testing/index.html">Code Design and Testing</a> - Doug
  </div>
</div>

<div class="row-fluid">
    <div class="span2">
        16:15 - 16:30
    </div>
    <div class="span10">
        Wrap-up
    </div>
</div>

<hr/>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
</ul>
