---
layout: bootcamp
root: .
venue: University of British Columbia
address: Earth, Ocean and Atmospheric Sciences ESB-5108
humandate: September 26-27, 2013
humantime: 9:00 - 4:00 Thu, 9:00 - 4:30 Fri
startdate: 2013-09-26
enddate: 2013-08-27
latlng: 49.261111,-123.253056
registration: restricted
host: Susan Allen
contact: sallen@eos.ubc.ca
instructor: ["Julia Gustavsen", "Doug Latornell"]
helper: ["Kang Wang"]
---
{% include bootcamps/host.html %}
{% include bootcamps/instructors.html %}
{% include bootcamps/helpers.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Setup</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/overview-editor.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/overview-python.html %}
  </div>
</div>

<hr/>

<h2 id="topics">Topics and Schedule</h2>

<h3>Thu 26-Sep-2013</h3>
<div class="row-fluid">
  <div class="span2">
    09:00 - 09:20
  </div>
  <div class="span10">
    Introduction and <a href="bootcamp_goals.html">Overall Learning Goals</a> - Susan, Doug &amp; Julia
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    09:20 - 10:15
  </div>
  <div class="span10">
    <a href="lessons/ubc-shell/index.html">Intro to Shell</a> - Julia
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    10:15 - 10:30
  </div>
  <div class="span10">
    Break (catered)
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    10:30 - 12:00
  </div>
  <div class="span10">
    <a href="lessons/ubc-git-intro/index.html">Intro to Version Control and Git</a> - Julia
    <ul>
      <li>Focus on git for own use, leave collaboration  and github for day 2</li>
      <li>60 or 90 minutes?</li>
      <li>maybe Doug intro VC, then Julia intro git?</li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    12:00 - 13:00
  </div>
  <div class="span10">
    Lunch
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    13:00 - 14:15
  </div>
  <div class="span10">
    <a href="lessons/ubc-python-intro/index.html">Intro to Python</a> - Doug
    <ul>
      <li>ipython-blocks</li>
      <li>Link to <a href="http://pythonforbiologists.com/index.php/29-common-beginner-python-errors-on-one-page/">http://pythonforbiologists.com/index.php/29-common-beginner-python-errors-on-one-page/</a> as a reference</li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    14:15 - 14:30
  </div>
  <div class="span10">
    Break (catered)
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    14:30 - 15:45
  </div>
  <div class="span10">
    <a href="lessons/ubc-data-explore/index.html">Data Exploration with Python</a> - Doug
    <ul>
      <li>manually get hourly and daily YVR weather data CSV files from climate.weather.gc.ca - participant work in pairs to get different days and months so that we have a bunch of data to work with for git collaboration later</li>
      <li>intro NumPy and read data into arrays</li>
      <li>explore data with descriptive statistics</li>
      <li>intro Matplotlib and visualize data with plots</li>
      <li>Does this lesson serve enough SWC purpose? It introduces NumPy and Matplotlib, provides practice wth Python, and provides data to work with on Day 2, but what does it contribute toward teaching computational competence?</li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    15:45 - 16:00
  </div>
  <div class="span10">
    Wrap-up
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    16:00
  </div>
  <div class="span10">
    EOAS Department Seminar (for those interested - ESB 5104/5106): Mike Behrenfeld
  </div>
</div>


<h3>Fri 27-Sep-2013</h3>
<div class="row-fluid">
  <div class="span2">
    09:00 - 10:30
  </div>
  <div class="span10">
    <a href="lessons/ubc-git-collab/index.html">Git and Github for Collaboration</a> - Julia
    <ul>
      <li>Compile a repo containing all of the hourly and daily YVR data that people downloaded and explored on Thu</li>
      <li>Merge the data into long timeseries of hourly quantities and daily rainfall; 6 groups doing a different quantity each</li>
      <li>Contribute the timeseries to the repo</li>
      <li>How does branching, merging, and (maybe) rebasing get covered?</li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    10:30 - 10:45
  </div>
  <div class="span10">
    Break (catered)
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    10:45 - 12:00
  </div>
  <div class="span10">
    <a href="lessons/ubc-automation/index.html">Automation</a> - Doug (or perhaps swap with Data Modeling lesson)
    <ul>
      <li>If it has been covered yet, this lesson should include the transition from coding in ipython notebook to coding in an editor and running at the command line, or in the python or ipython interpreter</li>
      <li>Use requests library to replace manual CSV file downloading</li>
      <li>Use sys.argv to bring command line arguments into a script; mention argparse library for fancier tools</li>
      <li>Use a bash script to run the requests download script</li>
      <li>Introduce at and cron to run jobs in the future, and on a schedule</li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    12:00 - 13:00
  </div>
  <div class="span10">
    Lunch
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    13:00 - 14:30
  </div>
  <div class="span10">
    <a href="lessons/ubc-data-modeling/index.html">Data Modeling</a> - Julia (or perhaps swap with Automation lesson)
    <ul>
      <li>Intro to SciPy, or maybe Pandas</li>
      <li>Histogram plots of rainfall data, statistical tests to find a distribution that models the data</li>
      <li>Curve fitting to model daily and seasonal temperature variation</li>
      <li>An alternative or addition would be do data visualization by plotting on maps, but different, geocoded data would probably be required.</li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    14:30 - 14:45
  </div>
  <div class="span10">
    Break (catered)
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
      14:45 - 16:15
  </div>
  <div class="span10">
    <a href="lessons/ubc-testing/index.html">Code Design and Testing</a> - Doug
    <ul>
      <li>Readability, modularity, correctness, robustness; ref: <a href="http://software-carpentry.org/blog/2013/08/intecol13-good-code.html">http://software-carpentry.org/blog/2013/08/intecol13-good-code.html</a></li>
      <li>Writing and running tests, test automation</li>
      <li>Exercise based on 6 x 4 groups writing code and tests for descriptive statistics function: mean, median, mode, range, quantiles, variance or std deviation</li>
      <li>Groups submit their results as github pull requests; if there's time, perhaps explore code review</li>
      <li>Demo the role of tests in refactoring by collapsing median into quantiles with n=2</li>
    </ul>
  </div>
</div>

<div class="row-fluid">
    <div class="span2">
        16:15 - 16:30
    </div>
    <div class="span10">
        Wrap-up
    </div>
</div>

<hr/>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
</ul>
