---
layout: bootcamp
root: .
venue: University of British Columbia
address: Earth, Ocean and Atmospheric Sciences ESB-5108
humandate: September 26-27, 2013
humantime: 9:00 - 4:00 Thu, 9:00 - 4:30 Fri
startdate: 2013-09-26
enddate: 2013-08-27
latlng: 49.261111,-123.253056
registration: restricted
instructor: ["Julia Gustavsen", "Doug Latornell"]
contact: sallen@eos.ubc.ca
---
{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/python.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Setup</h2>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/overview-editor.html %}
  </div>
  <div class="span6">
    {% include setup/overview-git.html %}
    {% include setup/overview-python.html %}
  </div>
</div>

<hr/>

<h2 id="topics">Topics and Schedule</h2>

<h3>Thu 26-Sep-2013</h3>
<div class="row-fluid">
    <div class="span2">
        09:00 - xx:xx
    </div>
    <div class="span10">
        Introduction and <a href="bootcamp_goals.html">Overall Learning Goals</a>
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        xx:xx - xx:xx
    </div>
    <div class="span10">
        Intro to Shell
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        xx:xx - xx:xx
    </div>
    <div class="span10">
        Intro to Version Control and Git
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        10:30 - 10:45
    </div>
    <div class="span10">
        Break (catered)
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        xx:xx - 12:00
    </div>
    <div class="span10">

    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        12:00 - 13:00
    </div>
    <div class="span10">
        Lunch
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        13:00 - xx:xx
    </div>
    <div class="span10">

    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        14:30 - 14:45
    </div>
    <div class="span10">
        Break (catered)
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        14:45 - xx:xx
    </div>
    <div class="span10">

    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        15:45 - 16:00
    </div>
    <div class="span10">
        Wrap-up
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        16:00
    </div>
    <div class="span10">
        EOAS Department Seminar (for those interested - ESB 5104/5106): Mike Behrenfeld
    </div>
</div>


<h3>Fri 27-Sep-2013</h3>
<div class="row-fluid">
    <div class="span2">
        09:00 - xx:xx
    </div>
    <div class="span10">

    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        xx:xx - xx:xx
    </div>
    <div class="span10">

    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        xx:xx - 10:30
    </div>
    <div class="span10">

    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        10:30 - 10:45
    </div>
    <div class="span10">
        Break (catered)
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        xx:xx - 12:00
    </div>
    <div class="span10">

    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        12:00 - 13:00
    </div>
    <div class="span10">
        Lunch
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        13:00 - xx:xx
    </div>
    <div class="span10">

    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        14:30 - 14:45
    </div>
    <div class="span10">
        Break (catered)
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        14:45 - xx:xx
    </div>
    <div class="span10">

    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        16:15 - 16:30
    </div>
    <div class="span10">
        Wrap-up
    </div>
</div>

<!-- <div class="row-fluid">
  <div class="span6">
    <h3><a href="lessons/shell.html">The Unix Shell</a></h3>
    <ul>
      <li>{% include guide-shell/filedir/title.md %}</li>
      <li>{% include guide-shell/create/title.md %}</li>
      <li>{% include guide-shell/pipefilter/title.md %}</li>
      <li>{% include guide-shell/loop/title.md %}</li>
      <li>{% include guide-shell/scripts/title.md %}</li>
      <li>{% include guide-shell/find/title.md %}</li>
    </ul>
  </div>
  <div class="span6">
    <h3><a href="lessons/db.html">Databases</a></h3>
    <ul>
      <li>{% include guide-db/select/title.md %}</li>
      <li>{% include guide-db/distinct/title.md %}</li>
      <li>{% include guide-db/filter/title.md %}</li>
      <li>{% include guide-db/calc/title.md %}</li>
      <li>{% include guide-db/sort/title.md %}</li>
      <li>{% include guide-db/null/title.md %}</li>
      <li>{% include guide-db/aggregate/title.md %}</li>
      <li>{% include guide-db/grouping/title.md %}</li>
      <li>{% include guide-db/join/title.md %}</li>
      <li>{% include guide-db/create/title.md %}</li>
      <li>{% include guide-db/transactions/title.md %}</li>
      <li>{% include guide-db/programming/title.md %}</li>
    </ul>
  </div>
</div>
 -->

<hr/>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
</ul>
