<div id="setup-linux-check" class="setup setup-linux setup-check">
  <h3>Linux / Setup Check</h3>

  <p>
    <ol>
      <li>
        Download the <a href="bin/swc-installation-test-1.py">swc-installation-test-1.py</a> script and save it in your home folder.
      </li>
      <li>
        Open a terminal window (or reuse the one that you used to install Anaconda above).
      </li>
      <li>
        Type <pre>python swc-installation-test-1.py</pre> and press enter.
        The script confirms that your default Python version is correct for the bootcamp.
        Success is indicated by the word <code>Passed</code>.
      </li>
      <li>
        Download the <a href="bin/swc-installation-test-2.py">swc-installation-test-2.py</a> script and save it in your home folder.
      </li>
      <li>
        In the terminal window type <pre>python swc-installation-test-2.py</pre> and press enter.
        The script confirms that you have bash, git, a code editor, and the Python libraries that we will use in the bootcamp have been installed.
        It prints a collection of success and/or failure messages.
      </li>
    </ol>
  </p>
  <p>
    If either script fails, please contact Doug at <a href="mailto:dlatornell@eos.ubc.ca">dlatornell@eos.ubc.ca</a> or in ESB-3053.
  </p>
</div>
