<div id="setup-macosx-git" class="setup setup-macosx setup-git">
  <h3>Mac OS X / Git</h3>

  <p>
    For the Anacoda version of Python (see below), and for a lot of
    other scientific computing software, Mac users need a C/C++ compiler on their
    computer. The way to get that is to install
    <a href="https://developer.apple.com/xcode/">Xcode</a>.
    Git comes as part of the Xcode tools.
  </p>

  <h4>For Mac OS X 10.7 and 10.8:</h4>

  <p>
    <ol>
      <li>
        Go to the <a href="https://developer.apple.com/xcode/">Xcode website</a>.
      </li>
      <li>
        Get Xcode 4.6.3 or later <em>(but not Xcode 5)</em> from the App Store.
      </li>
      <li>Open Xcode.</li>
      <li>Open Xcode > Preferences.</li>
      <li>Go to the downloads tab.</li>
      <li>Press install next to command line tools. Git is included in the command line tools.</li>
    </ol>
  </p>

  <h4>For Mac OS X 10.6</h4>

  <p>
    The Xcode for Mac OS X 10.6 doesn't include git.
    Xcode is a nice thing to have because of its C/C++ compiler, but you don't
    have to download it.
    If you do want to download it and you have time, see
    below.
    In any case,
    <a href="http://code.google.com/p/git-osx-installer/downloads/list?can=3">install just git</a>.
    Choose the most recent version.
    You may have to add <code>/usr/local/git/bin</code> to your <code>PATH</code>.
  </p>

  <p>
    Installing Xcode on Mac OS 10.6 (Optional):
    Go to the Apple developer site.
    You have to sign in with an Apple ID linked to a Developer account.
    If you don't have one, you can register and create one.
    (It's lame, I know, that's why it's done through the App Store now.)
    Then, once you log in, go to page 8 and find "Xcode 3.2.6 and iOS SDK 4.3
    for Snow Leopard" near the top.
    Click to open that section, and then download the .dmg file.
    It's 4.14 Gb, so leave some time to download this one.
    But it's worth it for the compiler!
  </p>
</div>
